<%- include('../partials/Header.ejs') -%>
<div class="container">
    <h2 class="m-5 fs-1 text-dark text-center text-warning">
        <i class="bi bi-emoji-frown"></i> My About Page  
        <i class="bi bi-emoji-frown-fill text-warning"></i>
    </h2>
</div>
<%- include('../partials/Footer.ejs') -%>
    
