<%- include('../partials/Header.ejs') -%>
    <div class="container">
        <h2 class="m-5 fs-1 text-dark text-center">
            <i class="bi bi-emoji-grin text-warning"></i> Welcome Bhailog  
            <i class="bi bi-emoji-heart-eyes text-warning"></i>
        </h2>
    </div>
    <%- include('../partials/Footer.ejs') -%>